.game {
    width: min(800px, 100%);

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.seed-input {
    display: grid;
    background-color: lightgrey;
}

.game .board-box {
    grid-column: 1 / span 2;
}