.game {
    background-color: green;
    display: flex;
    flex-direction: column;
    width: min(800px, 100%);
}

.seed-input {
    background-color: indigo;
    width: 50%;
}

.score {
    background-color: red;
    width: 50%;
    margin-right: 0;
}